<div class="accordion">
    <div class="wrapper">
        <div class="accordionBox">
            <h2 class="title">Preguntas generales</h2>
            <div class="accordion-wrapper">
                <button class="collapse">¿Cuánto tardan en instalarme el servicio?</button>
                <div class="panel">
                <p>Es muy rápido y sencillo. Una vez que cancele la primera factura generada a su contrato, en menos de 24 horas gestionamos su solicitud ya sea de manera teléfonica, vía Whatsapp o por correo electrónico. Acordamos una fecha para realizar la instalación acorde con su disponibilidad, y a partir de ese momento podrá comenzar a disfrutar del mejor entretenimiento en casa. </p>
                </div>

                <button class="collapse">¿Puedo cambiar mi plan en cualquier momento? </button>
                <div class="panel">
                <p></p>
                </div>

                <button class="collapse">¿Qué debo hacer si quiero contratar servicios adicionales?</button>
                <div class="panel">
                <p>Lorem ipsum...</p>
                </div>

                <button class="collapse">¿La televisión, incluye todos los canales o debo escoger algunos?</button>
                <div class="panel">
                <p>Lorem ipsum...</p>
                </div>

                <button class="collapse">¿Puedo suspender los servicios por una temporada? </button>
                <div class="panel">
                <p>Lorem ipsum...</p>
                </div>

                <button class="collapse">¿Dónde puedo consultar el monto a pagar de mis servicios?</button>
                <div class="panel">
                <p>Lorem ipsum...</p>
                </div>

                <button class="collapse">¿Dónde puedo realizar el pago de mis facturas?</button>
                <div class="panel">
                <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
    </div>
</div>