<div class="combos" id="combos">
    <div class="combos-background">
        <div class="wrapper">
            <div class="header">
                <h2 class="title">Conoce nuestros combos de <span>TV + Internet</span> ahora que trabajás desde casa</h2>
                <ul class="combos-tabs">
                    <li class="duo active">DUO</li>
                    <li class="triple">TRIPLE</li>
                </ul>
            </div>
            <div class="combos-list combo-slider-slick">
                <section class="combos-card">
                    <div class="combos-card__wrapper">
                        <p class="head">Duo Play</p>
                        <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                        <h3 class="title">internet / TV</h3>
                        <h3 class="subtitle">15Mbps + TV Estandar</h3>
                        <ul class="details">
                            <li>Velocidades simétricas</li>
                            <li>Equipo con Wifi incluido</li>
                            <li> Más de 70 canales</li>
                            <li>Canales por categorías</li>
                        </ul>
                        <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                        <a href="#" class="cta">Contratar <img src="images/small-arrow.svg" alt="Ver planes"></a>
                        <ul class="prices">
                            <li>Alquiler de router: ₡750,00</li>
                            <li>Alquiler de router Ac: ₡2.500,00</li>
                            <li>Tv Adicional: ₡1.800,00</li>
                        </ul>
                        <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                    </div>
                </section>
                <section class="combos-card">
                    <div class="combos-card__wrapper">
                        <p class="head">Duo Play</p>
                        <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                        <h3 class="title">internet / TV</h3>
                        <h3 class="subtitle">15Mbps + TV Estandar</h3>
                        <ul class="details">
                            <li>Velocidades simétricas</li>
                            <li>Equipo con Wifi incluido</li>
                            <li> Más de 70 canales</li>
                            <li>Canales por categorías</li>
                        </ul>
                        <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                        <a href="#" class="cta">Contratar <img src="images/small-arrow.svg" alt="Ver planes"></a>
                        <ul class="prices">
                            <li>Alquiler de router: ₡750,00</li>
                            <li>Alquiler de router Ac: ₡2.500,00</li>
                            <li>Tv Adicional: ₡1.800,00</li>
                        </ul>
                        <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                    </div>
                </section>
                <section class="combos-card">
                    <div class="combos-card__wrapper">
                        <p class="head">Duo Play</p>
                        <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                        <h3 class="title">internet / TV</h3>
                        <h3 class="subtitle">15Mbps + TV Estandar</h3>
                        <ul class="details">
                            <li>Velocidades simétricas</li>
                            <li>Equipo con Wifi incluido</li>
                            <li> Más de 70 canales</li>
                            <li>Canales por categorías</li>
                        </ul>
                        <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                        <a href="#" class="cta">Contratar <img src="images/small-arrow.svg" alt="Ver planes"></a>
                        <ul class="prices">
                            <li>Alquiler de router: ₡750,00</li>
                            <li>Alquiler de router Ac: ₡2.500,00</li>
                            <li>Tv Adicional: ₡1.800,00</li>
                        </ul>
                        <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                    </div>
                </section>
                <section class="combos-card">
                    <div class="combos-card__wrapper">
                        <p class="head">Triple Play</p>
                        <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                        <h3 class="title">internet / TV</h3>
                        <h3 class="subtitle">15Mbps + TV Estandar</h3>
                        <ul class="details">
                            <li>Velocidades simétricas</li>
                            <li>Equipo con Wifi incluido</li>
                            <li> Más de 70 canales</li>
                            <li>Canales por categorías</li>
                        </ul>
                        <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                        <a href="#" class="cta">Contratar <img src="images/small-arrow.svg" alt="Ver planes"></a>
                        <ul class="prices">
                            <li>Alquiler de router: ₡750,00</li>
                            <li>Alquiler de router Ac: ₡2.500,00</li>
                            <li>Tv Adicional: ₡1.800,00</li>
                        </ul>
                        <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                    </div>
                </section>
                <section class="combos-card">
                    <div class="combos-card__wrapper">
                        <p class="head">Triple Play</p>
                        <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                        <h3 class="title">internet / TV</h3>
                        <h3 class="subtitle">15Mbps + TV Estandar</h3>
                        <ul class="details">
                            <li>Velocidades simétricas</li>
                            <li>Equipo con Wifi incluido</li>
                            <li> Más de 70 canales</li>
                            <li>Canales por categorías</li>
                        </ul>
                        <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                        <a href="#" class="cta">Contratar <img src="images/small-arrow.svg" alt="Ver planes"></a>
                        <ul class="prices">
                            <li>Alquiler de router: ₡750,00</li>
                            <li>Alquiler de router Ac: ₡2.500,00</li>
                            <li>Tv Adicional: ₡1.800,00</li>
                        </ul>
                        <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                    </div>
                </section>
                <section class="combos-card">
                    <div class="combos-card__wrapper">
                        <p class="head">Triple Play</p>
                        <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                        <h3 class="title">internet / TV</h3>
                        <h3 class="subtitle">15Mbps + TV Estandar</h3>
                        <ul class="details">
                            <li>Velocidades simétricas</li>
                            <li>Equipo con Wifi incluido</li>
                            <li> Más de 70 canales</li>
                            <li>Canales por categorías</li>
                        </ul>
                        <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                        <a href="#" class="cta">Contratar <img src="images/small-arrow.svg" alt="Ver planes"></a>
                        <ul class="prices">
                            <li>Alquiler de router: ₡750,00</li>
                            <li>Alquiler de router Ac: ₡2.500,00</li>
                            <li>Tv Adicional: ₡1.800,00</li>
                        </ul>
                        <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <img src="images/rocket.png" alt="Rocket" class="rocket">
</div>