<div class="combos tv">
    <div>
        <div class="wrapper">
            <div class="combosBox">
                <div class="header">
                    <h2 class="title">Conocé nuestros planes de Televisión Digital y Satelital</h2>
                    <ul class="combos-tabs">
                        <li class="duo active">DUO</li>
                        <li class="triple">TRIPLE</li>
                    </ul>
                </div>
                <div class="combos-list combo-slider-slick">
                    <section class="combos-card">
                        <div class="combos-card__wrapper">
                            <p class="head">Duo Play</p>
                            <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                            <h3 class="title">internet / TV</h3>
                            <h3 class="subtitle">15Mbps + TV Estandar</h3>
                            <ul class="details">
                                <li>Velocidades simétricas</li>
                                <li>Equipo con Wifi incluido</li>
                                <li> Más de 70 canales</li>
                                <li>Canales por categorías</li>
                            </ul>
                            <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                            <a href="#" class="cta">Contratar</a>
                            <ul class="prices">
                                <li>Alquiler de router: ₡750,00</li>
                                <li>Alquiler de router Ac: ₡2.500,00</li>
                                <li>Tv Adicional: ₡1.800,00</li>
                            </ul>
                            <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                        </div>
                    </section>
                    <section class="combos-card">
                        <div class="combos-card__wrapper">
                            <p class="head">Duo Play</p>
                            <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                            <h3 class="title">internet / TV</h3>
                            <h3 class="subtitle">15Mbps + TV Estandar</h3>
                            <ul class="details">
                                <li>Velocidades simétricas</li>
                                <li>Equipo con Wifi incluido</li>
                                <li> Más de 70 canales</li>
                                <li>Canales por categorías</li>
                            </ul>
                            <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                            <a href="#" class="cta">Contratar</a>
                            <ul class="prices">
                                <li>Alquiler de router: ₡750,00</li>
                                <li>Alquiler de router Ac: ₡2.500,00</li>
                                <li>Tv Adicional: ₡1.800,00</li>
                            </ul>
                            <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                        </div>
                    </section>
                    <section class="combos-card">
                        <div class="combos-card__wrapper">
                            <p class="head">Duo Play</p>
                            <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                            <h3 class="title">internet / TV</h3>
                            <h3 class="subtitle">15Mbps + TV Estandar</h3>
                            <ul class="details">
                                <li>Velocidades simétricas</li>
                                <li>Equipo con Wifi incluido</li>
                                <li> Más de 70 canales</li>
                                <li>Canales por categorías</li>
                            </ul>
                            <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                            <a href="#" class="cta">Contratar</a>
                            <ul class="prices">
                                <li>Alquiler de router: ₡750,00</li>
                                <li>Alquiler de router Ac: ₡2.500,00</li>
                                <li>Tv Adicional: ₡1.800,00</li>
                            </ul>
                            <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                        </div>
                    </section>
                    <section class="combos-card">
                        <div class="combos-card__wrapper">
                            <p class="head">Triple Play</p>
                            <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                            <h3 class="title">internet / TV</h3>
                            <h3 class="subtitle">15Mbps + TV Estandar</h3>
                            <ul class="details">
                                <li>Velocidades simétricas</li>
                                <li>Equipo con Wifi incluido</li>
                                <li> Más de 70 canales</li>
                                <li>Canales por categorías</li>
                            </ul>
                            <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                            <a href="#" class="cta">Contratar</a>
                            <ul class="prices">
                                <li>Alquiler de router: ₡750,00</li>
                                <li>Alquiler de router Ac: ₡2.500,00</li>
                                <li>Tv Adicional: ₡1.800,00</li>
                            </ul>
                            <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                        </div>
                    </section>
                    <section class="combos-card">
                        <div class="combos-card__wrapper">
                            <p class="head">Triple Play</p>
                            <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                            <h3 class="title">internet / TV</h3>
                            <h3 class="subtitle">15Mbps + TV Estandar</h3>
                            <ul class="details">
                                <li>Velocidades simétricas</li>
                                <li>Equipo con Wifi incluido</li>
                                <li> Más de 70 canales</li>
                                <li>Canales por categorías</li>
                            </ul>
                            <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                            <a href="#" class="cta">Contratar</a>
                            <ul class="prices">
                                <li>Alquiler de router: ₡750,00</li>
                                <li>Alquiler de router Ac: ₡2.500,00</li>
                                <li>Tv Adicional: ₡1.800,00</li>
                            </ul>
                            <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                        </div>
                    </section>
                    <section class="combos-card">
                        <div class="combos-card__wrapper">
                            <p class="head">Triple Play</p>
                            <img class="combos-icon" src="images/icon_combo1.svg" alt="">
                            <h3 class="title">internet / TV</h3>
                            <h3 class="subtitle">15Mbps + TV Estandar</h3>
                            <ul class="details">
                                <li>Velocidades simétricas</li>
                                <li>Equipo con Wifi incluido</li>
                                <li> Más de 70 canales</li>
                                <li>Canales por categorías</li>
                            </ul>
                            <h3 class="price">¢29.300 <span>/mensuales</span></h3>
                            <a href="#" class="cta">Contratar</a>
                            <ul class="prices">
                                <li>Alquiler de router: ₡750,00</li>
                                <li>Alquiler de router Ac: ₡2.500,00</li>
                                <li>Tv Adicional: ₡1.800,00</li>
                            </ul>
                            <p class="disclaimer"> <sup>*</sup>Precios no incluyen impuestos del 911, Bomberos, I.V.A</p>
                        </div>
                    </section>
                </div>
                <div class="combos-disclaimer">
                    <p class="title">Todos los paquetes de televisión incluyen una caja digital.</p>
                    <p>*Costo por TV adicional ₡300. Traslado externo ₡7.000I.V.A.I. Traslado interno ₡3.550I.V.A.I. Reconexión ₡4.750I.V.A.I. Averías causadas por el cliente ₡3.500I.V.A.I. Precio de los paquetes de TV digital se les debe sumar el paquete básico. Cargo por instalación igual a primera mensualidad cuando aplique. El trámite de desconexión es personal o con autorización autenticada por abogado, se realiza en sucursales donde deben entregarse los equipos en perfecto estado y la cuenta no debe de tener ningún pendiente de pago.</p>
                    <p>Todos nuestros precios incluyen I.V.A.</p>
                    <p>Se informa que el proceso de recolección de equipos por desconexión de servicio tiene un costo de $50.00, para solicitarlo debe de llamar al  4080-4000. *Aplican restricciones.</p>
                </div>
            </div>
        </div>
    </div>
</div>