<div class="compromise">
    <div class="wrapper">
        <div class="compromiseBox">
            <div class="compromiseBox-left">
                <h2>Nuestro Compromiso</h2>
                <p>Es búsqueda de una sociedad más justa, más equitativa y próspera, en concordancia con el Plan Nacionales de Desarrollo de las Telecomunicaciones, impulsado por el Ministerio de Ciencias, Innovación y Tecnología.</p>
                <figure>
                    <img src="images/compromise1.png" alt="">
                </figure>
            </div>
            <div class="compromiseBox-right">
                <p>La cooperativa es partícipe de proyectos de iniciativa nacional, para llevar a los ciudadanos, acceso y mejores condiciones de conectividad por medio de los servicios de Telecomunicaciones que ofrecemos, para colaborar con la iniciativa “Costa Rica: Una Sociedad Conectada” impulsando la banda ancha, la inclusión social, el empoderamiento de las y los habitantes y la reducción de la Brecha Digital en el país”. </p>
                <p>Coopeguanacaste Telecom nace bajo la marca de la Cooperativa de Electrificación Rural de Guanacaste, brindando seguridad, estabilidad y confianza en todos nuestros servicios, velamos por el bienestar de nuestras comunidades y el crecimiento de cada uno de los habitantes.</p>
            </div>
        </div>
    </div>
</div>