<div class="coverageDescription">
    <div class="wrapper">
        <section class="coverage">
            <div class="coverage-left">
                <div class="coverage-ilustration">
                    <img src="images/coverage_map.png" alt="Map">
                </div>
            </div>
            <div class="coverage-right">
                <div class="coverage-content">
                    <h2 class="title">Consulta nuestras zonas de cobertura</h2>
                    <p class="copy">Cubrimos gran parte de las provicias:
                        San José, Cartago, Heredia, Alajuela, Guanacaste y Puntarenas</p>
                    <a href="#" class="cta">Consultar</a>
                </div>
            </div>
        </section>
    </div>
</div>