<div class="coverageZone">
    <div class="wrapper">
        <div class="coverageZoneBox">
            <div class="coverageZoneBox-left">
                <img src="images/guanacaste.svg" alt="">
            </div>
            <div class="coverageZoneBox-right">
                <h2>Consulta por distrito</h2>
                <p>Para poder saber si podemos brindarte el servicio adecuado por favor buscar por distrito en el espacio que encontrarás abajo.</p>
                <input type="text" placeholder="Cantón, Distrito o Barrio">
                <p class="results-title"><strong>Resultado de busqueda</strong></p>
                <ul class="results">
                    <li>
                        Nicoya Centro
                    </li>
                    <li>
                        San Martin
                    </li>
                    <li>
                        Barrio los Angeles, Santa Cruz
                    </li>
                    <li>
                        Barrio el Carmen
                    </li>
                    <li>
                        Barrio la Cananga
                    </li>
                    <li>
                        Barrio Chorotega
                    </li>
                    <li>
                        Barrio Santa Lucia
                    </li>
                    <li>
                        Barrio la Virginia
                    </li>
                    <li>
                        Barrio Guadalupe
                    </li>
                </ul>
                <h4>¿No encontraste tu barrio?</h4>
                <p>Contáctenos al <a href="#">whatsapp</a> o escríbenos a <a href="mailto:telecom@coopeguanacaste.com">telecom@coopeguanacaste.com</a> </p>
            </div>
        </div>
    </div>
</div>