<div class="enterpriseTabs">
    <div class="wrapper">
        <div class="enterpriseTabsBox">
            <h2 class="title">Somos su mejor opción</h2>
            <div class="enterpriseTabsBox-left">
                <ul class="tabs">
                    <li>
                        <a href="#" tab="1" class="active"><span>01.</span>IPTV</a>
                    </li>
                    <li>
                        <a href="#" tab="2"><span>02.</span>Internet</a>
                    </li>
                    <li>
                        <a href="#" tab="3"><span>03.</span>Telefonía</a>
                    </li>
                </ul>
            </div>
            <div class="enterpriseTabsBox-right">
                <ul class="content">
                    <li content="1">
                        <p>Disfrutá programación única desde la comodidad de tu hogar con los servicios de IPTV. Se cuenta con sistema de Catch Up que permite grabar varios días de reproducción y luego dar marcha atrás en un programa. Con IPTV podés personalizar tu parrilla de canales por lo que es mucho más fácil programar lo que cada persona verdaderamente desea ver con este tipo de transmisión no tradicional. </p>
                        <p>Viví la emoción de tus series y películas favoritas con imágenes en alta resolución, superiores a las imágenes que nos tienen acostumbrados los servicios de televisión tradicionales por cable o satelital.</p>
                    </li>
                    <li content="2" class="hidden">
                        <p>Disfrutá programación única desde la comodidad de tu hogar con los servicios de IPTV. Se cuenta con sistema de Catch Up que permite grabar varios días de reproducción y luego dar marcha atrás en un programa. Con IPTV podés personalizar tu parrilla de canales por lo que es mucho más fácil programar lo que cada persona verdaderamente desea ver con este tipo de transmisión no tradicional. </p>
                    </li>
                    <li content="3" class="hidden">
                        <p>Disfrutá programación única desde la comodidad de tu hogar con los servicios de IPTV. Se cuenta con sistema de Catch Up que permite grabar varios días de reproducción y luego dar marcha atrás en un programa. Con IPTV podés personalizar tu parrilla de canales por lo que es mucho más fácil programar lo que cada persona verdaderamente desea ver con este tipo de transmisión no tradicional. </p>
                        <p>Viví la emoción de tus series y películas favoritas con imágenes en alta resolución, superiores a las imágenes que nos tienen acostumbrados los servicios de televisión tradicionales por cable o satelital.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>