<div class="enterprise">
    <div class="wrapper">
        <div class="enterpriseBox">
            <div class="enterpriseBox-left">
                <h2>Nuestro compromiso es brindar un servicio personalizado</h2>
                <p>Nuestros planes de internet, IPTV y VoiP se adaptan a cualquier necesidad de negocio con soluciones a la medida y tiempos de respuesta oportunos.</p>
                <a href="#" class="cta">Contratanos</a>
            </div>
            <div class="enterpriseBox-right">
                <p>Podemos brindarle servicios que van desde la construcción de la red, hasta soluciones WiFi que garanticen las comunicaciones en su empresa, estas soluciones le permitirán impulsar su negocio de forma rápida y segura al mismo tiempo que mejora la experiencia de atención a sus clientes.</p>
                <div class="right-wrapper">
                    <img src="images/enterpriseIcon.svg" alt="">
                    <p>Mientras usted se enfoca en su negocio, nosotros contribuimos a digitalizar su empresa en el área operativa y comercial para llevar sus ventas a otro nivel.</p>
                </div>
            </div>
        </div>
    </div>
</div>