<div class="enterpriseTabs">
    <div class="wrapper">
        <div class="enterpriseTabsBox">
            <h2 class="title">Somos su mejor opción</h2>
            <div class="enterpriseTabsBox-left">
                <ul class="tabs">
                    <li>
                        <a href="#" tab="1" class="active"><span>01.</span>IPTV</a>
                    </li>
                    <li>
                        <a href="#" tab="2"><span>02.</span>Internet</a>
                    </li>
                    <li>
                        <a href="#" tab="3"><span>03.</span>Telefonía</a>
                    </li>
                </ul>
            </div>
            <div class="enterpriseTabsBox-right">
                <ul class="content">
                    <li content="1">
                        <p>Disfrutá programación única desde la comodidad de tu hogar con los servicios de IPTV. Se cuenta con sistema de Catch Up que permite grabar varios días de reproducción y luego dar marcha atrás en un programa. Con IPTV podés personalizar tu parrilla de canales por lo que es mucho más fácil programar lo que cada persona verdaderamente desea ver con este tipo de transmisión no tradicional. </p>
                        <p>Viví la emoción de tus series y películas favoritas con imágenes en alta resolución, superiores a las imágenes que nos tienen acostumbrados los servicios de televisión tradicionales por cable o satelital. </p>
                    </li>
                    <li content="2" class="hidden">
                        <p>Transmisión de datos a alta velocidad, descarga y carga de archivos grandes en pocos minutos. Capacidad para conectar más equipos sin ver limitadas tus opciones de ancho de banda. Con la fibra óptica de Coopeguanacaste Telecom, mejorarás la calidad de los formatos de vídeo y sonido para que sus video, conferencias y grabaciones se vean sin interferencias, además de una excelente calidad de imagen.</p>
                        <p>Nuestro servicio brinda más seguridad de red, en tiempos de enormes peligros de confianza de una red inalámbrica; la fibra óptica permite detectar el intrusismo con mucha facilidad, de modo que no resulta nada sencillo el robo o intervención en las transmisiones de datos. </p>
                    </li>
                    <li content="3" class="hidden">
                        <p>Entre los beneficios del servicio: Tarifa más baja, mejor calidad de la llamada y llamadas gratuitas entre clientes de la misma red. Las empresas usuarias de VoIP en la nube no tienen que preocuparse por el mantenimiento, mejoras o reparaciones. Además, este sistema permite enrutar las llamadas telefónicas a través de la misma red que utilizan para enviar archivos o correos electrónicos. Extensión “fija” móvil a través del uso de aplicaciones de softphones.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>