<div class="footer">
    <div class="wrapper">
        <div class="footerHead">
            <div class="footer-column">
                <h4>Coopeguanacaste Telecomunicaciones</h4>
                <p>Ofrecemos servicios de telecomunicaciones IPTV: televisión digital, internet simétrico por fibra óptica, telefonía IP.</p>
            </div>
            <div class="footer-column">
                <p class="title">PLANES</p>
                <ul>
                    <li>Televisión Visión</li>
                    <li>Internet</li>
                    <li>Telefonía</li>
                </ul>
                
            </div>
            <div class="footer-column">
                <p class="title">La empresa</p>
                <ul>
                    <li>Zonas de Cobertura</li>
                    <li>¿Quiénes Somos?</li>
                    <li>Empresariales</li>
                </ul>
            </div>
            <div class="footer-column">
                <p class="title">Contáctenos</p>
                <ul>
                    <li>Preguntas Frecuentes</li>
                    <li>Contacto</li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <div class="footer-column left">
                <p>Diseño y Desarrollo: </p>
                <img src="images/bmLogo.svg" alt="">
                <img src="images/clickerLogo.svg" alt="">
            </div>
            <div class="footer-column center">
                <p>Copyright © 2021 COOPEGUANACASTE TELECOMUNICACIONES.</p>
                <p>Todos los derechos reservados.</p>
            </div>
            <div class="footer-column right">
                <a href="#" class="footer-logo facebook"></a>
                <a href="#" class="footer-logo phone"></a>
                <a href="#" class="footer-logo whatsapp"></a>
                <a href="#" class="footer-logo instagram"></a>
            </div>
        </div>
    </div>
</div>