<div class="guide">
    <div class="wrapper">
        <div class="guideBox">
            <div class="guideBox-left">
                <div class="category">
                    <h3>Películas y series</h3>
                    <ul>
                        <li><strong>301</strong> HBO HD	Estándar</li>
                        <li><strong>302</strong> Cinemax HD Estándar</li>
                        <li><strong>303</strong> FOX HD Estándar</li>
                        <li><strong>304</strong> Cinecanal HD	Estándar</li>
                        <li><strong>305</strong> Universal HD Estándar</li>
                        <li><strong>306</strong> FX Movie HD	Estándar</li>
                        <li><strong>307</strong> Paramount HD Estándar</li>
                        <li><strong>308</strong> Golden Edge SD Estándar</li>
                        <li><strong>309</strong> Golden Latino HD Estándar</li>
                        <li><strong>310</strong> TNT LA	SD	Estándar</li>
                        <li><strong>311</strong> Space HD	Estándar</li>
                        <li><strong>312</strong> FX HD	Estándar</li>
                        <li><strong>313</strong> AXN	SD	Estándar</li>
                        <li><strong>314</strong> Studio Universal SD	Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>315</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>317</strong> Multipremier	SD	Estándar</li>
                        <li><strong>318</strong> TCM LA SD	Estándar</li>
                        <li><strong>319</strong> AzCinema HD	Estándar</li>
                        <li><strong>320</strong> De Película SD Estándar</li>
                        <li><strong>321</strong> Cine latino SD	Estándar</li>
                        <li><strong>330</strong> Warner Channel HD Estándar</li>
                        <li><strong>332</strong> SONY HD Estándar</li>
                        <li><strong>333</strong> Syfy HD Estándar</li>
                        <li><strong>334</strong> TNT Series	SD	Estándar</li>
                        <li><strong>336</strong> A&E HD Estándar</li>
                        <li><strong>354</strong> Golden HD	Premium</li>
                        <li><strong>358</strong> De Película HD	Premium</li>
                        <li><strong>359</strong> ID HD	Premium</li>
                    </ul>
                </div>
                <div class="category">
                    <h3>Infantiles</h3>
                    <ul>
                        <li><strong>301</strong> HBO HD	Estándar</li>
                        <li><strong>302</strong> Cinemax HD Estándar</li>
                        <li><strong>303</strong> FOX HD Estándar</li>
                        <li><strong>304</strong> Cinecanal HD	Estándar</li>
                        <li><strong>305</strong> Universal HD Estándar</li>
                        <li><strong>306</strong> FX Movie HD	Estándar</li>
                        <li><strong>307</strong> Paramount HD Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>315</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>317</strong> Multipremier	SD	Estándar</li>
                        <li><strong>318</strong> TCM LA SD	Estándar</li>
                        <li><strong>319</strong> AzCinema HD	Estándar</li>
                        <li><strong>320</strong> De Película SD Estándar</li>
                        <li><strong>321</strong> Cine latino SD	Estándar</li>
                    </ul>
                </div>
                <div class="category">
                    <h3>Películas y series</h3>
                    <ul>
                        <li><strong>301</strong> HBO HD	Estándar</li>
                        <li><strong>302</strong> Cinemax HD Estándar</li>
                        <li><strong>303</strong> FOX HD Estándar</li>
                        <li><strong>304</strong> Cinecanal HD	Estándar</li>
                        <li><strong>305</strong> Universal HD Estándar</li>
                        <li><strong>306</strong> FX Movie HD	Estándar</li>
                        <li><strong>307</strong> Paramount HD Estándar</li>
                        <li><strong>308</strong> Golden Edge SD Estándar</li>
                        <li><strong>309</strong> Golden Latino HD Estándar</li>
                        <li><strong>310</strong> TNT LA	SD	Estándar</li>
                        <li><strong>311</strong> Space HD	Estándar</li>
                        <li><strong>312</strong> FX HD	Estándar</li>
                        <li><strong>313</strong> AXN	SD	Estándar</li>
                        <li><strong>314</strong> Studio Universal SD	Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>315</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>317</strong> Multipremier	SD	Estándar</li>
                        <li><strong>318</strong> TCM LA SD	Estándar</li>
                        <li><strong>319</strong> AzCinema HD	Estándar</li>
                        <li><strong>320</strong> De Película SD Estándar</li>
                        <li><strong>321</strong> Cine latino SD	Estándar</li>
                        <li><strong>330</strong> Warner Channel HD Estándar</li>
                        <li><strong>332</strong> SONY HD Estándar</li>
                        <li><strong>333</strong> Syfy HD Estándar</li>
                        <li><strong>334</strong> TNT Series	SD	Estándar</li>
                        <li><strong>336</strong> A&E HD Estándar</li>
                        <li><strong>354</strong> Golden HD	Premium</li>
                        <li><strong>358</strong> De Película HD	Premium</li>
                        <li><strong>359</strong> ID HD	Premium</li>
                    </ul>
                </div>
                <div class="category">
                    <h3>Infantiles</h3>
                    <ul>
                        <li><strong>301</strong> HBO HD	Estándar</li>
                        <li><strong>302</strong> Cinemax HD Estándar</li>
                        <li><strong>303</strong> FOX HD Estándar</li>
                        <li><strong>304</strong> Cinecanal HD	Estándar</li>
                        <li><strong>305</strong> Universal HD Estándar</li>
                        <li><strong>306</strong> FX Movie HD	Estándar</li>
                        <li><strong>307</strong> Paramount HD Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>315</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>317</strong> Multipremier	SD	Estándar</li>
                        <li><strong>318</strong> TCM LA SD	Estándar</li>
                        <li><strong>319</strong> AzCinema HD	Estándar</li>
                        <li><strong>320</strong> De Película SD Estándar</li>
                        <li><strong>321</strong> Cine latino SD	Estándar</li>
                    </ul>
                </div>
            </div>
            <div class="guideBox-right">
                <div class="category">
                    <h3>Estilo de Vida</h3>
                    <ul>
                        <li><strong>202</strong> AzClic HD	Estándar</li>
                        <li><strong>203</strong> Cinemax HD Estándar</li>
                        <li><strong>204</strong> FOX HD Estándar</li>
                        <li><strong>210</strong> Cinecanal HD	Estándar</li>
                        <li><strong>211</strong> Universal HD Estándar</li>
                        <li><strong>212</strong> FX Movie HD	Estándar</li>
                        <li><strong>220</strong> Paramount HD Estándar</li>
                        <li><strong>222</strong> Golden Edge SD Estándar</li>
                        <li><strong>232</strong> Golden Latino HD Estándar</li>
                        <li><strong>233</strong> TNT LA	SD	Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>234</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>235</strong> Multipremier	SD	Estándar</li>
                        <li><strong>237</strong> TCM LA SD	Estándar</li>
                        <li><strong>242</strong> AzCinema HD	Estándar</li>
                        <li><strong>243</strong> De Película SD Estándar</li>
                        <li><strong>244</strong> Cine latino SD	Estándar</li>
                    </ul>
                </div>
                <div class="category">
                    <h3>Documentales</h3>
                    <ul>
                        <li><strong>301</strong> HBO HD	Estándar</li>
                        <li><strong>302</strong> Cinemax HD Estándar</li>
                        <li><strong>303</strong> FOX HD Estándar</li>
                        <li><strong>304</strong> Cinecanal HD	Estándar</li>
                        <li><strong>305</strong> Universal HD Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>315</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>317</strong> Multipremier	SD	Estándar</li>
                        <li><strong>318</strong> TCM LA SD	Estándar</li>
                        <li><strong>319</strong> AzCinema HD	Estándar</li>
                        <li><strong>320</strong> De Película SD Estándar</li>
                    </ul>
                </div>
                <div class="category">
                    <h3>Estilo de Vida</h3>
                    <ul>
                        <li><strong>202</strong> AzClic HD	Estándar</li>
                        <li><strong>203</strong> Cinemax HD Estándar</li>
                        <li><strong>204</strong> FOX HD Estándar</li>
                        <li><strong>210</strong> Cinecanal HD	Estándar</li>
                        <li><strong>211</strong> Universal HD Estándar</li>
                        <li><strong>212</strong> FX Movie HD	Estándar</li>
                        <li><strong>220</strong> Paramount HD Estándar</li>
                        <li><strong>222</strong> Golden Edge SD Estándar</li>
                        <li><strong>232</strong> Golden Latino HD Estándar</li>
                        <li><strong>233</strong> TNT LA	SD	Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>234</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>235</strong> Multipremier	SD	Estándar</li>
                        <li><strong>237</strong> TCM LA SD	Estándar</li>
                        <li><strong>242</strong> AzCinema HD	Estándar</li>
                        <li><strong>243</strong> De Película SD Estándar</li>
                        <li><strong>244</strong> Cine latino SD	Estándar</li>
                    </ul>
                </div>
                <div class="category">
                    <h3>Documentales</h3>
                    <ul>
                        <li><strong>301</strong> HBO HD	Estándar</li>
                        <li><strong>302</strong> Cinemax HD Estándar</li>
                        <li><strong>303</strong> FOX HD Estándar</li>
                        <li><strong>304</strong> Cinecanal HD	Estándar</li>
                        <li><strong>305</strong> Universal HD Estándar</li>
                    </ul>
                    <ul>
                        <li><strong>315</strong> Golden Premiere 1 HD Premium</li>
                        <li><strong>317</strong> Multipremier	SD	Estándar</li>
                        <li><strong>318</strong> TCM LA SD	Estándar</li>
                        <li><strong>319</strong> AzCinema HD	Estándar</li>
                        <li><strong>320</strong> De Película SD Estándar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>