<div class="intro intro-tv">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>Lo mejor de la TV Digital y HD a tu alcance</h2>
                <p>Viví la emoción de tus series y películas favoritas con imágenes en alta resolución, superiores a las imágenes que nos tienen acostumbrados los servicios de televisión tradicionales por cable o satelital.</p>
            </div>
            <div class="introBox-right">
                <img src="images/promo-slider1.png" alt="">
                <img class="promo-icon like" src="images/tvLike.png" alt="">
                <img class="promo-icon messenger" src="images/tvMessenger.png" alt="">
                <img class="promo-icon facebook" src="images/tvFacebook.png" alt="">
            </div>
        </div>
    </div>
</div>