<div class="intro intro-guide">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>Aquí podés encontrar nuestra lista de canales</h2>
                <p>Aquí encontrarás una guia detallada sobre el uso de todos nuestros servicios, si no encontraras algo no dudes en contactarnos.</p>
            </div>
            <div class="introBox-right">
                <img src="images/header5.svg" alt="">
            </div>
        </div>
    </div>
</div>