<div class="intro intro-projects">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>Programas y Proyectos de Telecomunicaciones</h2>
                <p>Como parte de los valores corporativos de Coopeguanacaste R.L., nos caracteriza el compromiso con nuestros asociados y clientes; ya que llevamos desarrollo a las comunidades mejorando la calidad de vida de los habitantes.</p>
            </div>
            <div class="introBox-right">
                <img src="images/header3.png" alt="">
            </div>
        </div>
    </div>
</div>