<div class="intro intro-enterprise">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>Servicios Empresariales</h2>
                <p>Somos proveedores de servicios de telecomunicaciones. Nuestra red es basada en soluciones en fibra óptica hasta la casa (FTTX) lo que garantiza la calidad del servicio ante la creciente demanda de mayores anchos de banda y estabilidad en las comunicaciones.</p>
            </div>
            <div class="introBox-right">
                <img src="images/header8.png" alt="">
            </div>
        </div>
    </div>
</div>