<div class="intro intro-support">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>Centro de soporte Coopeguanacaste Telecomunicaciones</h2>
                <p>Aquí encontrarás una guia detallada sobre el uso de todos nuestros servicios, si no encontraras algo no dudes en contactarnos.</p>
                <p><strong>Soporte:</strong> 2681-4744</p>
                <p><strong>Whatsapp:</strong> 8888-8888</p>
            </div>
            <div class="introBox-right">
                <img src="images/header7.png" alt="">
            </div>
        </div>
    </div>
</div>