<div class="intro intro-us">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>¿Quien es Telecom?</h2>
                <p>Somos parte de la Cooperativa de Electrificación Rural de Guanacaste, R.L (Coopeguanacaste, R.L.), brindando el servicio de internet, televisión y telefonía en gran parte de la zona de concesión. Estamos trabajando día a día para llegar a todas las comunidades.</p>
            </div>
            <div class="introBox-right">
                <img src="images/header6.png" alt="">
            </div>
        </div>
    </div>
</div>