<div class="intro intro-services">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>Sevicio de Recarga de Telecom</h2>
                <p>Aquí encontrarás una guia detallada sobre el uso de todos nuestros servicios, si no encontraras algo no dudes en contactarnos.</p>
                <p><strong>SMS:</strong> 9292</p>
            </div>
            <div class="introBox-right">
                <img src="images/header2.png" alt="">
            </div>
        </div>
    </div>
</div>