<div class="intro intro-coverage">
    <div class="wrapper">
        <div class="introBox">
            <div class="introBox-left">
                <h2>Nuestras zonas de cobertura</h2>
                <p>Somos parte de la Cooperativa de Electrificación Rural de Guanacaste, R.L (Coopeguanacaste, R.L.), brindando el servicio de internet, televisión y telefonía en gran parte de la zona de concesión.</p>
            </div>
            <div class="introBox-right">
                <img src="images/header4.png" alt="">
            </div>
        </div>
    </div>
</div>