<div class="header">
    <div class="menu-container hidden">
        <div class="menu-column">
            <ul class="important-links">
                <li><sup>01.</sup><a href="#">TV</a></li>
                <li><sup>02.</sup><a href="#">Internet</a></li>
                <li><sup>03.</sup><a href="#">Telefonía</a></li>
            </ul>
        </div>
        <div class="menu-column ilustrations">
            <img src="images/menu1.png" alt="">
            <img src="images/menu2.png" alt="">
        </div>
        <div class="menu-column">
            <ul class="secondary-links">
                <li><a href="#">Pagar mi recibo</a></li>
                <li><a href="#">Zonas de Cobertura</a></li>
                <li><a href="#">¿Quiénes Somos?</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li><a href="#">Servicios Empresariales</a></li>
                <li><a href="#">Programas y Proyectos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <ul class="header-contact">
            <li class="header-contact__facebook">
                <a href="#">Telecomunicaciones</a>
            </li>
            <li class="header-contact__phone">
                <a href="#">2681 4777</a>
            </li>
            <li class="header-contact__whatsapp">
                <a href="#">8511 0273</a>
            </li>
        </ul>
        <nav class="navigation">
            <div class="navigation-left">
                <img class="logo" src="images/logo.svg" alt="Coope Logo">
                <ul>
                    <li>
                        <a class="login" href="#">Inicia sesión</a>
                    </li>
                    <li>
                        <a class="register" href="#">Registrarse</a>
                    </li> 
                    <li>
                        <a class="cart" href="#">Cart</a>
                    </li>
                </ul>
            </div>
            <navigation class="navigation-right">
                <a href="#" class="button-menu open">
                    <i class="icon menu"></i>
                    <span>Menu</span>
                </a>
                <a href="#" class="button-menu close hidden">
                    <i class="icon menu close"></i>
                    <span>Close</span>
                </a>
                <a href="#" class="button button-planes">Planes</a>
                <a href="#" class="button button-contrata">Contrata</a>
            </navigation>
        </nav>
    </div>
</div>
