<div class="payments">
    <div class="wrapper">
        <div class="paymentsBox">
            <div class="paymentsBox-left">
                <h2>Pago de servicios públicos</h2>
                <p>Puedes realizar todos los pagos en las sucursales físicas de Coopeguanacaste o en nuestra plataforma digital:</p>
                <a href="#" class="cta">Pagar servicios</a>
            </div>
            <div class="paymentsBox-right">
                <img src="images/payments1.jpg" alt="">
            </div>
        </div>
    </div>
</div>