<div class="productDescription">
    <div class="wrapper">
        <div class="product-list">
            <section class="product television">
                <div class="product-left">
                    <div class="product-content">
                        <h2 class="title">TV Premium</h2>
                        <h2 class="subtitle">Disfrutá el mejor contenido de tv</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Ver planes</a>
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-ilustration">
                        <img src="images/ilustration_tv.png" alt="Ilustration TV">
                    </div>
                </div>
            </section>
            <section class="product background-aqua internet">
                <div class="product-left">
                    <div class="product-ilustration">
                        <img src="images/ilustration_internet.png" alt="Ilustration TV">
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-content">
                        <h2 class="title">Internet Avanzado</h2>
                        <h2 class="subtitle">ahora que trabajas desde casa</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Ver planes</a>
                    </div>
                </div>
            </section>
            <section class="product telefonia">
                <div class="product-left">
                    <div class="product-content">
                        <h2 class="title">Telefonía Avanzada</h2>
                        <h2 class="subtitle">Siempre cerca de los tuyos</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Ver planes</a>
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-ilustration">
                        <img src="images/ilustration_telefonia.png" alt="Ilustration TV">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
