<div class="productDescription">
    <div class="wrapper">
        <div class="product-list">
            <section class="product television">
                <div class="product-left">
                    <div class="product-content">
                        <h2 class="title">TV Premium</h2>
                        <h2 class="subtitle">Disfrutá el mejor contenido de tv</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Ver planes <img src="images/small-arrow.svg" alt="Ver planes"></a>
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-ilustration">
                        <img class="girl-ilu" src="images/tv-girl.png" alt="Ilustration TV">
                        <img class="tv-ilu" src="images/tv-furniture.png" alt="Ilustration TV">
                    </div>
                </div>
            </section>
            <section class="product background-aqua internet">
                <div class="product-left">
                    <div class="product-ilustration">
                        <img class="signal-ilu small-ilu" src="images/in-signal.png" alt="Ilustration TV">
                        <img class="guy-ilu" src="images/in-guy.png" alt="Ilustration TV">
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-content">
                        <h2 class="title">Internet Avanzado</h2>
                        <h2 class="subtitle">ahora que trabajas desde casa</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Ver planes <img src="images/small-arrow.svg" alt="Ver planes"></a>
                    </div>
                </div>
            </section>
            <section class="product telefonia">
                <div class="product-left">
                    <div class="product-content">
                        <h2 class="title">Telefonía Avanzada</h2>
                        <h2 class="subtitle">Siempre cerca de los tuyos</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Ver planes <img src="images/small-arrow.svg" alt="Ver planes"></a>
                    </div>
                </div>
                <div class="product-right">
                    <div class="product-ilustration">
                        <img class="lady-ilu" src="images/te-girl.png" alt="Ilustration TV">
                        <img class="bubble-ilu small-ilu" src="images/te-bubble.png" alt="Ilustration TV">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
