<div class="programTraining">
    <div class="wrapper">
        <div class="programTrainingBox">
            <div class="programTrainingBox-left">
                <h2>Zii Me Capacita</h2>
                <p>Esta plataforma consta de <strong>48</strong> cursos que se distribuyen dentro de las categorías de <strong>Educación y TIC, Liderazgo y Negocios</strong>, el objetivo es poder brindarle a los usuarios y población meta una plataforma donde puedan estar en constante capacitación en los temas de su interés.</p>
                <p>Hay dos maneras para acceder a esta, la primera es por medio de los puntos de acceso habilitados en los ZAIGs del proyecto de Fonatel, una vez que las personas establezcan conexión, los PAs (Puntos de acceso, equipos WIFI instalados en los espacios Públicos) lo van a redirigir a la página <strong>ziiparatodos.sutel.go.cr</strong></p>
                <h3>¿Cómo registrarme en Zii Me Capacita?</h3>
                <ul>
                    <li>
                        <p><strong>1-</strong> Localice el símbolo de la Zona de internet inalámbrico.</p>
                    </li>
                    <li>
                        <p><strong>2-</strong> Diríjase a la sección: Zii Me Capacita</p>
                    </li>
                    <li>
                        <p><strong>3-</strong> Proceda a registrarse. <br>Recuerde completar todos los datos, luego recibirá un correo de confirmación</p>
                    </li>
                    <li>
                        <p><strong>4-</strong> En la sección <strong>Cursos Gratuitos</strong> encontrará 3 categorías con más de 40 cursos a elegir.</p>
                    </li>
                    <li>
                        <p><strong>5-</strong> Matricule el curso.</p>
                        <p><strong>Puede matricularse en todos los que desee</strong>.</p>
                    </li>
                    <li>
                        <p><strong>6-</strong> Complete el curso con todas las actividades.</p>
                    </li>
                    <li>
                        <p><strong>7-</strong> Al completar satisfactoriamente el curso recibirá un certificado con su nombre.</p>
                    </li>
                </ul>
                <p class="disclaimer">*Puede hacer sus consultas llenando el formulario de <strong>“Ayuda”</strong> o llamando a los números de soporte ahí indicados.*</p>
                <h3>¿Cómo conectarme a un espacio público?</h3>
                <ul class="connection-steps">
                    <li>
                        <img src="images/ziiWifi.svg" alt="">
                        <p>1- Localice el símbolo de la Zona de internet inalámbrico.</p>
                    </li>
                    <li>
                        <img src="images/ziiWifi.svg" alt="">
                        <p>3- Seleccione la red Zii_para_todos.</p>
                    </li> 
                    <li>
                        <img src="images/happy.svg" alt="">
                        <p>5- Disfrute de la conexión gratuita.</p>
                    </li>  
                    <li>
                        <img src="images/wifi.svg" alt="">
                        <p>2- Active el WiFi de su dispositivo.</p>
                    </li>
                    <li>
                        <img src="images/chrome.svg" alt="">
                        <p>3- Ingrese al navegador y acceda la página de inicio.</p>
                    </li> 
                </ul>
            </div>
            <div class="programTrainingBox-right">
                <div class="programSlider">
                    <section>
                        <img src="images/programSlider1.png" alt="">
                    </section>
                    <section>
                        <img src="images/programSlider1.png" alt="">
                    </section>
                    <section>
                        <img src="images/programSlider1.png" alt="">
                    </section>
                </div>
            </div>
            <div class="programTrainingMap">
                <h2>Encuentre los <span>ZAIGS WIFI</span> instalados en los espacios Públicos</h2>
            </div>
            <div class="programTrainingMap-left">
                <img src="images/CostaRica.svg" alt="">
            </div>
            <div class="programTrainingMap-right">
                <ul class="zones">
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Zarcero</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                </ul>
                <ul class="zones">
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Tilarán</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                </ul>
                <ul class="zones">
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                    <li class="zone">
                        <button class="collapse">Valverde Vega</button>
                        <div class="panel">
                            <p>Zarcero, Zarcero - Parque Central
                                Zarcero, Tapesco - Salon Comunal
                                Zarcero, Laguna - Frente a Iglesia
                                Zarcero, Brisas - Plaza</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>