<div class="mentor">
    <div class="wrapper">
        <div class="mentorBox">
            <div class="mentorBox-left">
                <h2>Programa E-Mentores</h2>
                <p>E-Mentores es un espacio para sacarle mayor provecho a las tecnologías de forma segura y responsable. Brinda a padres, madres o familiares de personas menores de edad, la información y herramientas necesarias para que logren acompañarlos en el uso seguro de los recursos tecnológicos e internet.</p>
                <p>Coopeguanacaste, R.L se convierte en agente de cambio para la prevención y respuesta de la explotación y abuso sexual en la línea. Promueve una atención más integral a las familias.</p>
            </div>
            <div class="mentorBox-right">
                <img src="images/mentor.png" alt="">
            </div>
        </div>
    </div>
</div>