<div class="programHomes">
    <div class="wrapper">
        <div class="programHomesBox">
            <div class="programHomesBox-left">
                <img src="images/program-homes.png" alt="">
            </div>
            <div class="programHomesBox-right">
                <h2>Hogares conectados</h2>
                <p>El Programa Hogares Conectados fue diseñado por SUTEL, para dotar de una computadora portátil y una conexión de Internet a las familias en condición de vulnerabilidad, que cuenten con un estudio socioeconómico del Instituto Mixto de Ayuda Social (IMAS), con el propósito de brindarles igualdad de oportunidades de estudio, trabajo y acceso.</p>
                <h3>¿Quienes tienen acceso al programa?</h3>
                <p>Tendrán acceso los hogares precalificados por el IMAS y que se encuentran en condición de vulnerabilidad socio-económica.</p>
                <p>Las familias son clasificadas en tres grupos, según su nivel de ingreso económico. A partir de esta clasificación, FONATEL paga el <strong>100% del costo de la computadora y un porcentaje del costo del servicio mensual de Internet</strong>. Las familias, por su parte, asumen el pago mensual de una cuota simbólica según su clasificación.</p>
                <p class="disclaimer">*Sujeto a disponibilidad del servicio de Telecomunicaciones*</p>
                <h3>En caso de ser beneficiado</h3>
                <p>En caso de resultar beneficiario del programa Hogares Conectados, tienen que tomar estas consideraciones para obtener el beneficio con los servicios de Telecomunicaciones de Coopeguanacaste R.L. :</p>
                <ul>
                    <li>
                        <p>1- Si no tiene contrato de internet o televisión con Coopeguanacaste R.L., con la dirección exacta del cliente, consultar por la disponibilidad de servicio en su lugar de residencia al 2681-4777 o bien en la pestaña de disponibilidad del servicio.</p>
                    </li>
                    <li>
                        <p>2- Si tiene contrato de internet o televisión de Coopeguanacaste R.L., llamar 2681-4777 y dejar sus datos para ser contactado, o bien, acercarse a Oficinas Centrales de la Cooperativa, en Santa Cruz, Guanacaste. </p>
                    </li>
                </ul>
                <a href="#" class="cta">Descargar manual</a>
            </div>
        </div>
    </div>
</div>