<div class="promo-slider">
    <div class="wrapper">
        <div class="promo-slider-slick">
            <section class="promo">
                <div class="promo-left">
                    <div class="promo-content">
                        <h2 class="subtitle">Disfruta la velocidad en Megas simétricos con fibra óptica por:</h2>
                        <p class="price"><strong>¢20</strong>300<span>/mensuales</span></p>
                        <a href="#" class="cta">Adquiere la promo</a>
                    </div>
                </div>
                <div class="promo-right">
                    <div class="promo-ilustration">
                        <img src="images/promo-slider1.png" alt="TV">
                        <img class="indexIcon reaction" src="images/reaction.svg" alt="Like">
                        <img class="indexIcon like" src="images/like.svg" alt="Like">
                        <img class="indexIcon star" src="images/star.svg" alt="Like">
                    </div>
                </div>
            </section>
            <section class="promo">
                <div class="promo-left">
                    <div class="promo-content">
                        <h2 class="subtitle">Disfruta la velocidad en Megas simétricos con fibra óptica por:</h2>
                        <p class="price"><strong>¢20</strong>300<span>/mensuales</span></p>
                        <!-- <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p> -->
                        <a href="#" class="cta">Adquiere la promo</a>
                    </div>
                </div>
                <div class="promo-right">
                    <div class="promo-ilustration">
                        <img src="images/promo-slider1.png" alt="TV">
                        <img class="indexIcon reaction" src="images/reaction.svg" alt="Like">
                        <img class="indexIcon like" src="images/like.svg" alt="Like">
                        <img class="indexIcon star" src="images/star.svg" alt="Like">
                    </div>
                </div>
            </section>
            <section class="promo">
                <div class="promo-left">
                    <div class="promo-content">
                        <h2 class="subtitle">Disfruta la velocidad en Megas simétricos con fibra óptica por:</h2>
                        <p class="price"><strong>¢20</strong>300<span>/mensuales</span></p>
                        <!-- <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p> -->
                        <a href="#" class="cta">Adquiere la promo</a>
                    </div>
                </div>
                <div class="promo-right">
                    <div class="promo-ilustration">
                        <img src="images/promo-slider1.png" alt="TV">
                        <img class="indexIcon reaction" src="images/reaction.svg" alt="Like">
                        <img class="indexIcon like" src="images/like.svg" alt="Like">
                        <img class="indexIcon star" src="images/star.svg" alt="Like">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="banner-slider">
    <nav class="menu">
        <div class="menu__item">
            <a class="menu__item-link">Coopeguanacaste Telecom</a>
            <div class="marquee">
                <div class="marquee__inner-wrap">
                    <div class="marquee__inner" aria-hidden="true">
                        <span>TV Digital</span>
                        <img class="marquee__img" src="images/marquee-tv.png" alt="TV">
                        <span>Internet</span>
                        <img class="marquee__img" src="images/marquee-wifi.png" alt="TV">
                        <span>Empresarial</span>
                        <img class="marquee__img" src="images/marquee-tv.png" alt="TV">
                        <span>Telefonía Fija</span>
                        <img class="marquee__img" src="images/marquee-wifi.png" alt="TV">
                        <span>Fibra Óptica</span>
                        <img class="marquee__img" src="images/marquee-tv.png" alt="TV">
                        <span>TV Digital</span>
                        <img class="marquee__img" src="images/marquee-wifi.png" alt="TV">
                        <span>Internet</span>
                        <img class="marquee__img" src="images/marquee-tv.png" alt="TV">
                        <span>Empresarial</span>
                        <img class="marquee__img" src="images/marquee-wifi.png" alt="TV">
                        <span>Telefonía Fija</span>
                        <img class="marquee__img" src="images/marquee-tv.png" alt="TV">
                        <span>Fibra Óptica</span>
                        <img class="marquee__img" src="images/marquee-wifi.png" alt="TV">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>