<div class="promo-slider">
    <div class="wrapper">
        <div class="promo-slider-slick">
            <section class="promo">
                <div class="promo-left">
                    <div class="promo-content">
                        <h2 class="subtitle">Disfruta la velocidad en Megas simétricos con fibra óptica por:</h2>
                        <p class="price"><strong>¢20</strong>300<span>/mensuales</span></p>
                        <a href="#" class="cta">Adquiere la promo</a>
                    </div>
                </div>
                <div class="promo-right">
                    <div class="promo-ilustration">
                        <img src="images/promo-slider1.png" alt="TV">
                        <img class="indexIcon reaction" src="images/indexIcon1.png" alt="">
                        <img class="indexIcon like" src="images/indexIcon2.png" alt="">
                        <img class="indexIcon star" src="images/indexIcon3.png" alt="">
                    </div>
                </div>
            </section>
            <section class="promo">
                <div class="promo-left">
                    <div class="promo-content">
                        <h2 class="subtitle">Disfruta la velocidad en Megas simétricos con fibra óptica por:</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Adquiere la promo</a>
                    </div>
                </div>
                <div class="promo-right">
                    <div class="promo-ilustration">
                        <img src="images/promo-slider1.png" alt="TV">
                    </div>
                </div>
            </section>
            <section class="promo">
                <div class="promo-left">
                    <div class="promo-content">
                        <h2 class="subtitle">Disfruta la velocidad en Megas simétricos con fibra óptica por:</h2>
                        <p class="copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius tellus quis laoreet feugiat. Proin vulputate mollis erat nec hendrerit. </p>
                        <a href="#" class="cta">Adquiere la promo</a>
                    </div>
                </div>
                <div class="promo-right">
                    <div class="promo-ilustration">
                        <img src="images/promo-slider1.png" alt="TV">
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="banner-slider">
    <div class="wrapper">
        <div class="banner-slider-slick">
            <section class="banner-slider__item">
                <p>TV AVANZADA</p>
                <img src="images/banner-slider1.png" alt="TV">
            </section>
            <section class="banner-slider__item">
                <p>TV AVANZADA</p>
                <img src="images/banner-slider1.png" alt="TV">
            </section>
        </div>
    </div>
</div>