<div class="recharge">
    <div class="wrapper">
        <div class="rechargeBox">
            <div class="rechargeBox-left">
                <img src="images/recharge1.png" alt="">
                <h3>¿Dudas? </h3>
                <p>Contáctenos al 2681-4777</p>
            </div>
            <div class="rechargeBox-right">
                <h2>Recargar es muy fácil con Coope Móvil</h2>
                <ul class="grid">
                    <li>
                        <lord-icon src="https://cdn.lordicon.com/gmzxduhd.json" trigger="loop"
                            colors="primary:#121331,secondary:#FF7C03" style="width:95px;height:95px">
                        </lord-icon>
                        <h3 class="grid-title">1. Activar</h3>
                        <p class="grid-copy">Active el servicio en cualquier sucursal de Coopeguancaste, R.L.</p>
                    </li>
                    <li>
                        <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" trigger="loop"
                            colors="primary:#121331,secondary:#FF7C03" style="width:118px;height:118px">
                        </lord-icon>
                        <h3 class="grid-title">2. Envíar mensaje</h3>
                        <p class="grid-copy">Envíe un mensaje de texto al 9292 indicando el monto que desea recargar
                            (Ejemplo: 4000)</p>
                    </li>
                    <li>
                        <lord-icon src="https://cdn.lordicon.com/ssdupzsv.json" trigger="loop"
                            colors="primary:#121331,secondary:#FF7C03" style="width:94px;height:94px">
                        </lord-icon>
                        <h3 class="grid-title">3. Disfrute</h3>
                        <p class="grid-copy">Disfrute de su saldo</p>
                    </li>
                    <li>
                        <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop"
                            colors="primary:#121331,secondary:#FF7C03" style="width:105px;height:105px">
                        </lord-icon>
                        <h3 class="grid-title">4. Pagué en su próximo recibo</h3>
                        <p class="grid-copy">Pague el monto de su recarga en su próximo recibo de servicio eléctrico de
                            Coopeguancaste, R.L.</p>
                    </li>
                </ul>
                <p class="copy">Beneficio exclusivo para asociados de Coopeguancaste, R.L. y usuarios con línea Kolbi.
                </p>
                <p class="disclosure">Aplican Restricciones.</p>
            </div>
        </div>
    </div>
</div>