<div class="services">
    <div class="wrapper">
        <div class="header">
            <h2 class="title">Aliquip eiusmod elit quis aute non. Irure Lorem in veniam cillum mollit excepteur.</h2>
        </div>
        <div class="services-list">
            <div class="service">
                <img src="images/services_grilla.png" alt="">
                <p class="copy">Grilla de Canales</p>
                <a href="#" class="cta">Ver más</a>
            </div>
            <div class="service">
                <img src="images/services_recarga.png" alt="">
                <p class="copy">Recarga móvil</p>
                <a href="#" class="cta">Ver más</a>
            </div>
            <div class="service">
                <img src="images/services_cobertura.png" alt="">
                <p class="copy">Zonas de cobertura</p>
                <a href="#" class="cta">Ver más</a>
            </div>
            <div class="service">
                <img src="images/services_proyectos.png" alt="">
                <p class="copy">Proyectos comunidad</p>
                <a href="#" class="cta">Ver más</a>
            </div>
        </div>
    </div>
</div>
