<div class="suggestions">
    <div class="wrapper">
        <div class="header">
            <h2 class="title">Épico.<br>Sin fin.<br>Entretenimiento.</h2>
        </div>
        <div class="suggestions-list suggestions-slider-slick">
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Rasgos de un<br> psicópata</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Estreno Agosto 2021: Los psicópatas viven entre nosotros. </p>
                        <p class="source">Canal 552</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
            <a href="#" class="suggestions-card">
                <div class="card-holder">
                    <div class="card-alone front">
                        <img src="images/suggestions_item1.png" alt="">
                        <h4 class="title">Stranger <br>Things</h4>
                    </div>
                    <div class="card-alone back">
                        <p class="copy">Anderson Silva explota contra Dana White y UFC por impedir la pelea entre GSP y Óscar de la Hoya.</p>
                        <p class="source">ESPN Plus / UFC.COM</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>