<div class="support">
    <div class="wrapper">
        <div class="support-grid">
            <div class="support-box">
                <div class="support-main">
                    <h2 class="title">No puedo Navegar en internet</h2>
                    <p class="subtitle">Debes realizar los siguentes pasos:</p>
                    <p class="copy"><strong>1-</strong> Primeramente debes verificar si los indicadores de luces (WAN o LINK) estan de color verde, si estos estan apagados debes comunicarte inmediamente.</p>
                    <p class="copy">Si estos indicadores muestran luz verde continuas con estos otros pasos para asi restablecer el servicio.</p>
                </div>
                <a href="#" class="support-link">Ver más</a>
            </div>
            <div class="support-box">
                <div class="support-main">
                    <h2 class="title">Problemas de velocidad en mi internet</h2>
                    <p class="subtitle">Debes realizar los siguentes pasos:</p>
                    <p class="copy"><strong>1-</strong> Primeramente debes conectarte al modem (Lan 1) via cableado por medio de una PC. Asegurate de tener un solo dispositivo conectado, si tienes un router inalambrico independiente del modem de igual forma asegurate de que tengas un solo dispositivo conectado por WIFI para realizar el test de velocidad.</p>
                </div>
                <a href="#" class="support-link">Ver más</a>
            </div>
            <div class="support-box">
                <div class="support-main">
                    <h2 class="title">Deseo realizar un cambio de contraseña a mi red WIFI</h2>
                    <p class="copy"><strong>1-</strong> Debes comunicarte con nuestros tecnicos  en soporte a los numeros <strong> 2681-4777</strong>,  para proceder con tu cambio de contraseña, esto para mayor privacidad del cliente."</p>
                </div>
                <a href="#" class="support-link">Ver más</a>
            </div>
            <div class="support-box">
                <div class="support-main">
                    <h2 class="title">"No tengo señal en mi TV</h2>
                    <p class="subtitle">Debes realizar los siguentes pasos:</p>
                    <p class="copy"><strong>1-</strong> Verificar que el STB o caja de television este encendido mostrando una luz azul o verde en la parte frontal.</p>
                    <p class="copy"><strong>2-</strong> Verificar que su televisor tenga la configuracion correcta de IMPUT o SOURCE, ya que los STB funcionan por medio de la entrada HDMI.</p>
                </div>
                <a href="#" class="support-link">Ver más</a>
            </div>
            <div class="support-box">
                <div class="support-main">
                    <h2 class="title">Problemas al realizar o recibir llamadas</h2>
                    <p class="subtitle">Debes realizar los siguentes pasos:</p>
                    <p class="copy"><strong>1-</strong> Primeramente debes conectarte al modem (Lan 1) via cableado por medio de una PC. Asegurate de tener un solo dispositivo conectado, si tienes un router inalambrico independiente del modem de igual forma asegurate de que tengas un solo dispositivo conectado por WIFI para realizar el test de velocidad.</p>
                </div>
                <a href="#" class="support-link">Ver más</a>
            </div>
        </div>
    </div>
</div>