<div class="mainTV">
    <div class="wrapper">
        <div class="mainTVBox">
            <div class="mainTVBox-left">
                <h2>Televisión</h2>
                <img src="images/tvBox.png" alt="">
            </div>
            <div class="mainTVBox-right">
                <h3>Disfrutá programación única desde la comodidad de tu hogar con los servicios de IPTV</h3>
                <p>Beneficios:</p>
                <ul>
                    <li>
                        Sistema de Catch Up que permite grabar varios días de reproducción y luego dar marcha atrás en un programa.
                    </li>
                    <li>
                        Con IPTV podés personalizar tu parrilla de canales por lo que es mucho más fácil programar lo que cada persona verdaderamente desea ver con este tipo de transmisión no tradicional. 
                    </li>
                </ul>
                <div class="links">
                    <a href="#" class="cta">Solicitar servicio</a>
                    <a href="#" class="cta">Ver canales</a>
                </div>
                <img src="images/tvLogos.svg" alt="">
            </div>
        </div>
    </div>
</div>