<div class="us">
    <div class="wrapper">
        <div class="usBox">
            <div class="usBox-left">
                <h2>Quienes Somos</h2>
                <img src="images/us.png" alt="">
            </div>
            <div class="usBox-right">
                <div class="usBox-right-top">

                    <p><strong>Coopeguanacaste Telecom se funda en el año 2015. </strong></p>
                    <p>Somos un servicio netamente guanacasteco, participamos activamente en la economía local.</p>
                    <p>Somos un actor de la Economía Solidaria, esto es que la totalidad de nuestros excedentes son reinvertidos en las comunidades guanacastecas y no se van a otras regiones del país o del mundo.</p>
                </div>
                <div class="usBox-right-bottom">
                    <lord-icon
                        src="https://cdn.lordicon.com/yzctygpq.json"
                        trigger="loop"
                        colors="primary:#121331,secondary:#08a88a"
                        style="width:86px;height:86px">
                    </lord-icon>
                    <p>Le llevamos <strong>Fibra Óptica</strong> hasta su hogar o negocio, ofreciendo mayores velocidades de subida en internet, además entregamos servicios de Televisión en formato IP de alta definición con el sistema de Catch Up TV, sin costo alguno.</p>
                    <p> Mantenemos nuestros precios accesibles y al alcance de todos (as), trabajando día a día para disminuir la brecha digital en todas nuestras comunidades.</p>
                </div>
            </div>
        </div>
    </div>
</div>