/*------------------*
# Headings
*------------------*/

/*
 * Uniform spacing and color for headings
*/

h1, h2, h3, h4, h5, h6 {
    color: $color-black;
}

/*
 * Heading font sizes
*/

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

p{
    font-size: rem(17px);
    line-height: rem(27px);
}

@font-face {
    font-family: 'gt_walsheim_prolight';
    src: url('./../fonts/gtwalsheimpro-light.eot');
    src: url('./../fonts/gtwalsheimpro-light.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/gtwalsheimpro-light.woff2') format('woff2'),
         url('./../fonts/gtwalsheimpro-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gt_walsheim_proregular';
    src: url('./../fonts/gtwalsheimpro-regular.eot');
    src: url('./../fonts/gtwalsheimpro-regular.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/gtwalsheimpro-regular.woff2') format('woff2'),
         url('./../fonts/gtwalsheimpro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GT Walsheim Pro Medium';
    src: url('./../fonts/gtwalsheimpro-medium.woff2') format('woff2'),
        url('./../fonts/gtwalsheimpro-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Walsheim Pro Bold';
    src: url('./../fonts/gtwalsheimprobold.woff2') format('woff2'),
        url('./../fonts/gtwalsheimprobold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$text:'gt_walsheim_proregular', sans-serif;
$text-light:'gt_walsheim_prolight', sans-serif;
$text-medium:'GT Walsheim Pro Medium', sans-serif;
$text-bold: 'GT Walsheim Pro Bold', sans-serif;