/*------------------*
# Coverage
*------------------*/

.coverageZone{
    &Box{
        margin-bottom: rem(20px);
        margin-top: rem(20px);
        background: rbga(255,255,255,0.7);
        border-radius: 40px;
        padding: rem(70px) 3.5vw;
        border: 1px solid $color-black;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        &-left,
        &-right{
            width: 50%;
        }
        &-left{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-start;
            align-content: center;
            align-self: flex-start;
            svg{
                circle{
                    @include general-transition;
                    opacity: 0;
                    filter: blur(6px);
                    &:nth-child(3){
                        @include delay(0.1s);
                    }
                    &:nth-child(4){
                        @include delay(0.2s);
                    }
                    &:nth-child(5){
                        @include delay(0.3s);
                    }
                    &:nth-child(6){
                        @include delay(0.4s);
                    }
                    &:nth-child(7){
                        @include delay(0.5s);
                    }
                    &:nth-child(8){
                        @include delay(0.6s);
                    }
                    &:nth-child(9){
                        @include delay(0.7s);
                    }
                    &:nth-child(10){
                        @include delay(0.8s);
                    }
                    &:nth-child(11){
                        @include delay(0.9s);
                    }
                    &:nth-child(12){
                        @include delay(1s);
                    }
                }
                &:hover{
                    circle{
                        fill:$color-purple;
                    }
                }
            }
        }
        &-right{
            width: 45%;
            align-self: flex-start;
            h2{
                font-size: rem(60px);
                line-height: rem(68px);
                max-width: 400px;
                margin-bottom: rem(35px);
            }

            p{
                font-size: rem(17px);
                line-height: rem(27px);
                max-width: 492px;
                margin-bottom: rem(51px);
            }

            input{
                background: $color-lightGray url('./../images/search.svg') no-repeat right 20px center;
                border: 1px solid $color-black;
                border-radius: 10px;
                width: 414px;
                height: 46px;
                color: $color-black;
                padding-left: 18px;
                text-transform: uppercase;
                margin-bottom: rem(28px);
                background-size: 22px;
                &::placeholder{
                    color: $color-black;
                }
            }

            .results-title{
                font-size: rem(18px);
                line-height: rem(34px);
                margin-bottom: rem(19px);
            }

            ul.results{
                list-style: none;
                margin-bottom: rem(40px);
                li{
                    padding-left: 25px;
                    background: url('./../images/results-pin.svg') no-repeat left center;
                    margin-bottom: 10px;
                }
            }

            h4{
                font-size: rem(24px);
                line-height: rem(38px);
                margin-bottom: rem(10px);

                & + p{
                    font-size: rem(20px);
                    line-height: rem(32px);

                    a{
                        color: $color-orange;
                    }
                }
            }
        }
    }
}