/*------------------*
# Enterprise Tabs
*------------------*/

.enterpriseTabs{
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    &Box{
        .title{
            font-size: rem(60px);
            line-height: rem(64px);
            margin-bottom: rem(97px);
            text-align: center;
            width: 100%;
        }
        border: 1px solid $color-black;
        border-radius: 40px;
        padding: rem(70px) 3.5vw;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        &-left,
        &-right{
            width: 50%;
            align-self: flex-start;
        }
        &-left{
            width: 20%;

            ul{
                max-width: 243px;
                list-style: none;
                li{
                    font-size: rem(25px);
                    line-height: rem(32px);
                    margin-bottom: rem(46px);
                    a{
                        display: block;
                        color: $color-gray;
                        font-family: $text-bold;
                        &.active{
                            color: $color-black;
                        }
                    }

                    span{
                        display: block;
                        border-bottom: 1px solid $color-black;
                        padding-bottom: rem(7px);
                        font-size: rem(20px);
                        line-height: rem(32px);
                        margin-bottom: rem(14px);
                    }
                }
            }
            
        }
        &-right{
            width: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            ul{
                padding-top: rem(22px);
                list-style: none;
                max-width: 642px;
                li{
                    p{
                        font-size: rem(20px);
                        line-height: rem(32px);
                        margin-bottom: rem(20px);
                    }
                }
            }
        }
    }
}