/*------------------*
# Suggestions
*------------------*/

.suggestions{
    margin-bottom: 20px;
    padding: rem(100px) 0;
    .header{
        margin-bottom: rem(44px);
        .title{
            font-size: rem(60px);
            line-height: rem(68px);
            margin: 64px auto;
            text-align: left;
            max-width: 1090px;
            margin: 0 auto;
            span{
                color: $color-orange;
            }
        }
    }
    &-list{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    }
    &-card{
        width: 290px;
        height: 347px;
        perspective: 600px;
        position: relative;
        margin: 0 30px;
        .card-holder{
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            transform-origin: center right;
            &.is-flipped{
                transform: translateX(-100%) rotateY(-180deg);
                .front{
                    .title{
                        opacity: 0;
                    }
                }
            }
        }
        .card-alone{
            position: absolute;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;
        }
        .front{
            background-color: white;
            img{
                width: 100%;
            }
            .title{
                position: absolute;
                bottom: 21px;
                left: 21px;
                color: $color-white;
                @include general-transition;
            }
        }
        .back{
            background: blue;
            transform: rotateY( 180deg );
            color: white;
            background-color: $color-purple;
            border-radius: 10px;
            height: 100%;
            padding: 33px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            .copy{
                font-size: rem(19px);
                line-height: rem(36px);
            }
            .source{
                font-size: rem(21px);
                line-height: rem(36px);
                font-weight: bold;
            }
        }
    }
}